@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    }
  }
  #contact {
    /* Styles for screens up to 767px wide (e.g., smartphones) */
    /* You can modify the styles to fit the smaller screen size */
    padding: 20px;
}
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
  }
  
 /* Media query for small screens */
@media screen and (max-width: 400px) {
  .menu-links {
    width: 100%;
    text-align: center;
  }

  .menu-links ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .menu-links li {
    display: block;
    padding: 15px; /* Increase padding to provide more space for text */
  }

  #contact {
    padding: 1rem;
  }

  .contact-info-upper-container {
    max-width: 100%;
    border-radius: 0;
  }

  form {
    max-width: 100%;
  }

  form input,
  form textarea {
    width: calc(100% - 12px);
  }
}

/* Additional styles for better visibility in the hamburger menu */
.menu-links a {
  display: block;
  padding: 15px; /* Increase padding to match li padding */
  text-decoration: none;
  color: black; /* Adjust text color as needed */
}
/* Media query for tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  form input,
  form textarea {
    width: calc(100% - 40px);
  }
}

/* Media query for desktops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #contact {
    padding: 3rem;
  }

  .contact-info-upper-container {
    max-width: 60rem;
  }

  form {
    max-width: 40rem;
  }
}

@media screen and (max-width: 400px) {
  .menu-links {
    width: 100%;
    text-align: center;
  }

  .menu-links li {
    display: block;
  }
}


@media screen and (max-width: 400px) {
  #contact {
    padding: 1rem;
  }
 
  .contact-info-upper-container {
    max-width: 100%;
    border-radius: 0;
  }
 
  form {
    max-width: 100%;
  }
 
  form input,
  form textarea {
    width: calc(100% - 12px);
  }
}
 
/* Media query for tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  form input,
  form textarea {
    width: calc(100% - 40px);
  }
}
 
/* Media query for desktops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #contact {
    padding: 3rem;
  }
 
  .contact-info-upper-container {
    max-width: 60rem;
  }
 
  form {
    max-width: 40rem;
  }
}